.more {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1A1A1A;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;

  &__text {
    text-decoration: none;
    color: white;
  }
}

.container {
  width: 100%;
  max-width: 75rem;
  margin-top: 1.4375rem;


  &__hotelCard {
    display: flex;
    border-radius: 1.5625rem;
    background: #282828;

    &__bottomInfo {
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      &_info {
        display: flex;


        &_price {
          display: flex;
          align-items: center;
          padding: 0 1.25rem;
          font-size: 1.5rem;

        }

        &_price span span {
          color: #C9C9C9;
        }

        &_btn {
          background: #585858;
          border: none;
          padding: 0.9375rem 5rem;
          color: white;
          font-size: 1.5rem;
          border-radius: 1.5625rem 0;
        }

        &_btn:hover {
          transition: 0.5s;
          background: #b7b7b7;
          color: black;
        }
      }


    }


    &_info {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.5rem 0 0 1.5rem;


      &_text {
        display: flex;
        align-items: center;
        gap: 1rem;
      }


    }
  }

  &__options {
    border: 0.1875rem solid rgba(255, 255, 255, 0.5);
    border-radius: 1.5625rem;
    padding: 0.625rem 1.25rem 1.25rem 1.25rem;
    margin: 1.25rem 0 1.25rem;
    max-height: 22.5rem;

    &_info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 1.875rem;
      height: 12.5rem;
    }


    &_title {
      display: flex;
      font-size: 1.5rem;
      padding: 0.625rem 0 1.875rem 0.625rem;
    }

    &__block {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-height: 18.75rem;
      gap: 1.5rem;
      cursor: default;

      &_green {
        color: green;
      }

      &_hidden {
        opacity: 0;
      }

    }
  }
}



