.more {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1A1A1A;
}

.nav {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;

  &__text {
    text-decoration: none;
    color: white;
  }
}

.container {
  width: 100%;
  max-width: 75rem;
  margin-top: 1.4375rem;


  &__hotelCard {
    display: flex;
    border-radius: 1.5625rem;
    background: #282828;

    &__bottomInfo {
      display: flex;
      align-items: flex-end;
      flex-direction: column;

      &_info {
        display: flex;


        &_price {
          display: flex;
          align-items: center;
          padding: 0 1.25rem;
          font-size: 1.5rem;

        }

        &_price span span {
          color: #C9C9C9;
        }

        &_btn {
          background: #585858;
          border: none;
          padding: 0.9375rem 5rem;
          color: white;
          font-size: 1.5rem;
          border-radius: 1.5625rem 0;
        }

        &_btn:hover {
          transition: 0.5s;
          background: #b7b7b7;
          color: black;
        }
      }


    }


    &_info {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      padding: 1.5rem 0 0 1.5rem;


      &_text {
        display: flex;
        align-items: center;
        gap: 1rem;
      }


    }
  }

  &__options {
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 10px 20px 20px 20px;
    margin: 20px 0 20px;
    max-height: 360px;

    &_info {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 30px;
      height: 200px;
    }


    &_title {
      display: flex;
      font-size: 24px;
      padding: 10px 0 30px 10px;
    }

    &__block {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      max-height: 300px;
      gap: 24px;

      &_btn {
        background: none;
        border: none;
      }

      &_btn:focus {
        outline: none;
      }
    }
  }
}

