.btn {
  display: flex;
  justify-content: center;



  &_bron {
    width: 26.5625rem;
    height: 2.4375rem;
    background: linear-gradient(90.17deg, #232323 0.19%, #646464 99.77%);
    border: none;
    border-radius: 0.3125rem;
    color: white;
  }

  &_bron:hover {
    background: linear-gradient(90.17deg, #232323 0.19%, #232849 99.77%);
  }
}
