.main {
  display: flex;
  justify-content: center;
  align-items: center;
}


.registrations {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 5rem;
  background: #343434;
  border-radius: 1.5625rem;
  @media only screen and (max-width: 480px) {
    width: 90%;
    height: 90%;
    padding: 3.125rem;
  }
  @media only screen and (max-width: 360px) {
    height: 95%;
  }
  @media only screen and (max-width: 280px) {
    padding: 2.5rem;
  }


  &_title {
    display: flex;
    justify-content: center;
  }

  &_form {
    display: flex;
    flex-direction: column;
    gap: 1.4375rem;
    margin-top: 1.25rem;


    &_valid {
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
  }
}





